.main-app {
    display: flex; 
    align-items: flex-start; 
    justify-content: space-between; 
}

.left-menu {
    width: 20%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative; 
    z-index: 2; 
}

.image-container {
   margin-top: 40px;
}

.right-content {
   
    display: flex;
    flex-direction: column;
    align-items:end;
}

.selection-bar {
    width: 500px;
    height: 450px;
    display: flex;
    margin-top: 250px;
    flex-direction: column; 
    background: linear-gradient(60deg, rgb(73, 85, 85), rgb(128, 131, 131));
    padding: 20px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: rgb(242, 240, 235);
    box-shadow: -5px -5px 16px rgba(0, 0, 0, 0.2);
}
    

